html, body{height: 100%}
body{
  background: rgba(44, 62, 80,1.0);
  display: flex;
}
.card{
  padding: 30px;
  background: #1abc9c;
  margin: auto;
  transition: .3s ease;
  box-shadow: 0 1px 1px rgba(0,0,0,.3);
  

}
.entry-title{
  background: linear-gradient(to right, rgba(255,255,255,0) 50%, rgba(22, 160, 133,1.0) 50%);
  text-align: center;
  background-size: 200%;
  background-position: 0 0;
  display: inline;
  transition: .5s ease-in-out;
  font-family: raleway, arial, sans-serif;
  text-transform: uppercase;
  

}
.instrucciones{
    font-style: italic;
    display: flex;
}

small{
  margin-top: 20px;
  display: block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  color: white;
  text-transform: uppercase;
  
 
}

span{
  display: block;
  margin-top: 10px;
  font-family: raleway, arial, sans-serif;
  font-weight: 700;
  color: #16a085;
	

}
span  a{color: white}

  
  p{
    margin: 0 0 15px;
    line-height: 1.4;
    color: #333;
  }

 .sobremi{
    padding: 10px 5px;
 }

  
  .start{
    background-color: #ff4757;
    color: white;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 14px;
  }

  .git{
    max-width: 100%;
 max-height: 100%;
 vertical-align: centre;
 height: 35px;
 width: 30px;
  }
  @import url(https://fonts.googleapis.com/css?family=Signika:700,300,600);

  html, body { height: 100%; }
  body { display: flex; justify-content: center; align-items: center; margin:20px 0; text-align:center; background:beige; overflow:hidden; }
  
  h1 {
   font-size:2em;
   font:bold 7.5vw/1.6 'Signika', sans-serif;
   user-select:none;
  }
  
  h1 span { display:inline-block; animation:float .2s ease-in-out infinite; }
   @keyframes float {
    0%,100%{ transform:none; }
    33%{ transform:translateY(-1px) rotate(-2deg); }
    66%{ transform:translateY(1px) rotate(2deg); }
  }
  body:hover span { animation:bounce .6s; }
  @keyframes bounce {
    0%,100%{ transform:translate(0); }
    25%{ transform:rotateX(20deg) translateY(2px) rotate(-3deg); }
    50%{ transform:translateY(-20px) rotate(3deg) scale(1.1);  }
  }
  
  span:nth-child(4n) { color:hsl(50, 75%, 55%); text-shadow:1px 1px hsl(50, 75%, 45%), 2px 2px hsl(50, 45%, 45%), 3px 3px hsl(50, 45%, 45%), 4px 4px hsl(50, 75%, 45%); }
  span:nth-child(4n-1) { color:hsl(135, 35%, 55%); text-shadow:1px 1px hsl(135, 35%, 45%), 2px 2px hsl(135, 35%, 45%), 3px 3px hsl(135, 35%, 45%), 4px 4px hsl(135, 35%, 45%); }
  span:nth-child(4n-2) { color:hsl(155, 35%, 60%); text-shadow:1px 1px hsl(155, 25%, 50%), 2px 2px hsl(155, 25%, 50%), 3px 3px hsl(155, 25%, 50%), 4px 4px hsl(140, 25%, 50%); }
  span:nth-child(4n-3) { color:hsl(30, 65%, 60%); text-shadow:1px 1px hsl(30, 45%, 50%), 2px 2px hsl(30, 45%, 50%), 3px 3px hsl(30, 45%, 50%), 4px 4px hsl(30, 45%, 50%); }
  
  h1 span:nth-child(2){ animation-delay:.05s; }
  h1 span:nth-child(3){ animation-delay:.1s; }
  h1 span:nth-child(4){ animation-delay:.15s; }
  h1 span:nth-child(5){ animation-delay:.2s; }
  h1 span:nth-child(6){ animation-delay:.25s; }
  h1 span:nth-child(7){ animation-delay:.3s; }
  h1 span:nth-child(8){ animation-delay:.35s; }
  h1 span:nth-child(9){ animation-delay:.4s; }
  h1 span:nth-child(10){ animation-delay:.45s; }
  h1 span:nth-child(11){ animation-delay:.5s; }
  h1 span:nth-child(12){ animation-delay:.55s; }
  h1 span:nth-child(13){ animation-delay:.6s; }
  h1 span:nth-child(14){ animation-delay:.65s; }