* {
    color:purple;
    font-family: monospace;
}
body {
    background-color: #2F1347;
}
.juego {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.titulo {
    margin-bottom: 10vh;
    text-align: center;
    width: 510px;
    border-bottom: solid 1px #3a3a3c;
}

.fila{
    display: flex;
}
.celda{
    color:white;
    width: 40px;
    height: 40px;
    border: 2px black solid;
}
.teclado {
    margin-top: 10vh;
    overflow: hidden;
    text-align: center;
}

    
.teclado-container {
    background-color:#C29DDC; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }